.userview-header {
    margin-bottom: 25px;
}

.container-grid{
    min-height: 700px;
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 15px;
}

.user-list-grid {
    width: 100%;
}

.new-user{
    width: 100%;
}

.user-list-grid-header{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
}


.user-list-grid-body th span{
    color: #333;
    font-weight: 600;
}

.user-list-grid table td {
    height: 40px;
    color: #555;
}

.user-list-grid-body {
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    height: 65.5vh;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
}

 tbody tr:hover{
    background-color: #0000000b;
}

 table {
    width: 100%;
    border-collapse: collapse;
}

.user-list-grid-body::-webkit-scrollbar,
.item-table::-webkit-scrollbar,
.client-grid-body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.user-list-grid-body::-webkit-scrollbar-thumb,
.item-table::-webkit-scrollbar-thumb,
.client-grid-body::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #dad8db;
    visibility: hidden;
}

.user-list-grid-body:hover::-webkit-scrollbar-thumb,
.item-table:hover::-webkit-scrollbar-thumb,
.client-grid-body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}


table td{
    padding: 8px;
    text-align: center;
}

table .text-left {
    text-align: left;
}

.icon-list-user {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.user-photo-perfil {
    position: relative;
    width: 320px;
    height: 320px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-avatar .overlay-profile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow: visible;
    text-align: center;
}

.profile-avatar:hover .overlay-profile {
    opacity: 0.85;
    cursor: pointer;
}

.texto {
    color: white;
    font-size: 20px;
}


.user-info-perfil {
    align-self: flex-start;
    padding: 0 20px;
    width: 100%;
}

.user-info-perfil label{
    font-size: 10pt;
    color: #555;
}

.user-info-perfil ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
}

.user-info-perfil li {
    font-size: 15pt;
    color: black;
    background-color: #f9f9f9;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    & .icon {
        font-size: 20pt;
    };
    & .icon-cross {
        font-size: 15pt;
        margin-left: 5px;
    };
}

.user-perfil-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 10px 0;
    border-radius: 15px;
    height: 100%;
}

.user-perfil-grid h3 {
    font-size: 20pt;
    font-weight: 600;
}